<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.laka.albumcollection">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activities.NewArtistActivity" />
        <activity android:name=".activities.NewAlbumActivity" />
        <activity android:name=".activities.AlbumsActivity" />
        <activity android:name=".activities.NewSongActivity" />
        <activity android:name=".activities.SongsActivity" />
        <activity android:name=".activities.EditSongActivity" />
        <activity android:name=".activities.EditAlbumActivity" />
        <activity android:name=".activities.EditArtistActivity" />
    </application>

</manifest>